## work flow
1. data collection
2. process the data
3. train and test data
4. model 
5. evaluate model
6. predict on model

Column Descriptions:

2. age (Age of the patient in years)
4. sex (Male/Female)
5. cp chest pain type ([typical angina, atypical angina, non-anginal, asymptomatic])
6. trestbps resting blood pressure (resting blood pressure (in mm Hg on admission to the hospital))
7. chol (serum cholesterol in mg/dl)
8. fbs (if fasting blood sugar > 120 mg/dl)
9. restecg (resting electrocardiographic results) -- Values: [normal, stt abnormality, lv hypertrophy]
10. thalach: maximum heart rate achieved
11. exang: exercise-induced angina (True/ False)
12. oldpeak: ST depression induced by exercise relative to rest
13. slope: the slope of the peak exercise ST segment
14. ca: number of major vessels (0-3) colored by fluoroscopy
15. thal: [normal; fixed defect; reversible defect]
16. target: the predicted attribute

## importing dependencies

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
%matplotlib inline

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

## data collection and processing

In [2]:
#  loading csv data into pandas dataframe
df = pd.read_csv('heart_disease_data.csv')

In [3]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [4]:
df.shape

(303, 14)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [6]:
df.isna().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [7]:
df.corr()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
age,1.000000,-0.098447,-0.068653,0.279351,0.213678,0.121308,-0.116211,-0.398522,0.096801,0.210013,-0.168814,0.276326,0.068001,-0.225439
sex,-0.098447,1.000000,-0.049353,-0.056769,-0.197912,0.045032,-0.058196,-0.044020,0.141664,0.096093,-0.030711,0.118261,0.210041,-0.280937
cp,-0.068653,-0.049353,1.000000,0.047608,-0.076904,0.094444,0.044421,0.295762,-0.394280,-0.149230,0.119717,-0.181053,-0.161736,0.433798
trestbps,0.279351,-0.056769,0.047608,1.000000,0.123174,0.177531,-0.114103,-0.046698,0.067616,0.193216,-0.121475,0.101389,0.062210,-0.144931
chol,0.213678,-0.197912,-0.076904,0.123174,1.000000,0.013294,-0.151040,-0.009940,0.067023,0.053952,-0.004038,0.070511,0.098803,-0.085239
fbs,0.121308,0.045032,0.094444,0.177531,0.013294,1.000000,-0.084189,-0.008567,0.025665,0.005747,-0.059894,0.137979,-0.032019,-0.028046
restecg,-0.116211,-0.058196,0.044421,-0.114103,-0.151040,-0.084189,1.000000,0.044123,-0.070733,-0.058770,0.093045,-0.072042,-0.011981,0.137230
thalach,-0.398522,-0.044020,0.295762,-0.046698,-0.009940,-0.008567,0.044123,1.000000,-0.378812,-0.344187,0.386784,-0.213177,-0.096439,0.421741
exang,0.096801,0.141664,-0.394280,0.067616,0.067023,0.025665,-0.070733,-0.378812,1.000000,0.288223,-0.257748,0.115739,0.206754,-0.436757
oldpeak,0.210013,0.096093,-0.149230,0.193216,0.053952,0.005747,-0.058770,-0.344187,0.288223,1.000000,-0.577537,0.222682,0.210244,-0.430696
slope,-0.168814,-0.030711,0.119717,-0.121475,-0.004038,-0.059894,0.093045,0.386784,-0.257748,-0.577537,1.000000,-0.080155,-0.104764,0.345877
ca,0.276326,0.118261,-0.181053,0.101389,0.070511,0.137979,-0.072042,-0.213177,0.115739,0.222682,-0.080155,1.000000,0.151832,-0.391724
thal,0.068001,0.210041,-0.161736,0.062210,0.098803,-0.032019,-0.011981,-0.096439,0.206754,0.210244,-0.104764,0.151832,1.000000,-0.344029
target,-0.225439,-0.280937,0.433798,-0.144931,-0.085239,-0.028046,0.137230,0.421741,-0.436757,-0.430696,0.345877,-0.391724,-0.344029,1.000000

In [8]:
df.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [9]:
df.target.value_counts()

1    165
0    138
Name: target, dtype: int64

### Model

In [10]:
X = df.iloc[:,:-1]
Y = df.iloc[:,-1]

In [11]:
x_train, x_test, y_train, y_test = train_test_split(X,Y, test_size=0.2,random_state=2)

In [12]:
model = LogisticRegression(solver='liblinear').fit(x_train, y_train)

## model Evaluation

In [13]:
model.score(x_train,y_train)

0.8264462809917356

In [14]:
x_train_pred = model.predict(x_train)

In [15]:
accuracy_score(x_train_pred, y_train) * 100

82.64462809917356

In [16]:
x_test_pred = model.predict(x_test)

In [17]:
accuracy_score(x_test_pred, y_test) * 100

90.1639344262295

In [18]:
model.predict_proba(x_test)
#                 0                    1
# accuracy that it predicts 0, accuracy that it predicts 1,

array([[0.36528683, 0.63471317],
       [0.25121027, 0.74878973],
       [0.34594453, 0.65405547],
       [0.03140279, 0.96859721],
       [0.98681076, 0.01318924],
       [0.86049535, 0.13950465],
       [0.22037458, 0.77962542],
       [0.16419431, 0.83580569],
       [0.95654902, 0.04345098],
       [0.23083745, 0.76916255],
       [0.93055562, 0.06944438],
       [0.06871037, 0.93128963],
       [0.92203633, 0.07796367],
       [0.90202195, 0.09797805],
       [0.00758478, 0.99241522],
       [0.0366105 , 0.9633895 ],
       [0.96393742, 0.03606258],
       [0.0779877 , 0.9220123 ],
       [0.95688983, 0.04311017],
       [0.70250666, 0.29749334],
       [0.07028918, 0.92971082],
       [0.26436719, 0.73563281],
       [0.65438022, 0.34561978],
       [0.79901609, 0.20098391],
       [0.33493268, 0.66506732],
       [0.39495683, 0.60504317],
       [0.01549986, 0.98450014],
       [0.96871191, 0.03128809],
       [0.98829178, 0.01170822],
       [0.08550521, 0.91449479],
       [0.24200311, 0.75799689],
       [0.03110643, 0.96889357],
       [0.99144649, 0.00855351],
       [0.93402337, 0.06597663],
       [0.09986137, 0.90013863],
       [0.99715914, 0.00284086],
       [0.11828472, 0.88171528],
       [0.59894082, 0.40105918],
       [0.93720152, 0.06279848],
       [0.95571633, 0.04428367],
       [0.0119872 , 0.9880128 ],
       [0.09954107, 0.90045893],
       [0.9909115 , 0.0090885 ],
       [0.94327733, 0.05672267],
       [0.02118133, 0.97881867],
       [0.37206905, 0.62793095],
       [0.94809294, 0.05190706],
       [0.25900954, 0.74099046],
       [0.25976922, 0.74023078],
       [0.22374545, 0.77625455],
       [0.02867625, 0.97132375],
       [0.38920143, 0.61079857],
       [0.25359335, 0.74640665],
       [0.98668344, 0.01331656],
       [0.9585501 , 0.0414499 ],
       [0.86599457, 0.13400543],
       [0.62748314, 0.37251686],
       [0.05956908, 0.94043092],
       [0.05629692, 0.94370308],
       [0.44016643, 0.55983357],
       [0.45837123, 0.54162877]])

## Prediction System

In [25]:
df.sample()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
161,55,0,1,132,342,0,1,166,0,1.2,2,0,2,1

In [26]:
input_data = np.array(df.iloc[161,:-1]).reshape(1,-1)
correct_answer = df.iloc[161,-1]

In [27]:
print('Prediction : ',model.predict(input_data)[0])
print('Correct : ', correct_answer)

Prediction :  1
Correct :  1

C:\Users\Shahjahan.DESKTOP-MBDJTPL\AppData\Roaming\Python\Python39\site-packages\sklearn\base.py:409: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

## DONE